.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0.5rem 1rem;
}

.modal-main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-main header i {
  --ggs: 1.5;
}

.modal-main p {
  font-size: 1.5rem;
}
