@font-face {
  font-family: "HarryPotter";
  src: local("HarryPotter"),
    url("./fonts/HarryPotter/parry-hotter.regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "HP";
  src: local("HP"), url("./fonts/hp.TTF") format("truetype");
  font-weight: normal;
}

body {
  font-family: "HP";
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

h4 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 0;
}

h5 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0;
}
