.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  margin: 1rem 0.5rem;

  user-select: none;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h2 {
  margin-left: auto;
}

.header i {
  margin-left: auto;
  margin-right: 0.5rem;
}

.wand {
  width: 50px;
  height: 460px;
}

.wand[disabled] {
  opacity: 0.5;
}

.predContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding-top: 1.5rem;

  height: 100px;
}

.prediction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spell {
  display: flex;
  gap: 0.5rem;
}

.loader {
  width: 80px;
  height: 80px;
}
